.contents__main__left
  =link_to "",class:"title" do
    マイページ
    .icon
      >
  =link_to "",class:"profile" do
    プロフィール
    .icon
      >
  =link_to "",class:"card" do
    お支払い情報(クレジットカード)
    .icon
      >
  =link_to destroy_user_session_path, method: :delete, class:"logout" do
    ログアウト
    .icon
      >