.banner
  .banner__content
    .banner__content__subtitle
      だれでもかんたん、人生を変えるフリマアプリ
    .banner__content__recommendation
      今すぐ無料ダウンロード！

  .install
    = link_to image_tag('1280px-Download_on_the_App_Store_Badge.svg_638923b1-49f1-4be6-a584-1c5c2767a43e',size: "180x53"),"#"
    = link_to image_tag('googleplay2',size: "180x53"),"#"