.footer
  .footer__box
    .footer__box__content
      %h2.footer__box__content__title FURIMAについて
      %ul 
        %li
          =link_to "会社概要（運営会社)","#" 
        %li
          =link_to "プライバシーポリシー","#"
        %li
          =link_to "FURIMA利用規約","#"
        %li
          =link_to "ポイントに関する特約" , "#" 
    .footer__box__content
      %h2.footer__box__content__title FURIMAを見る
      %ul
        %li
          =link_to "カテゴリー一覧","#" 
        %li
          =link_to "ブランド一覧","#" 
    .footer__box__content
      %h2.footer__box__content__title ヘルプ&ガイド
      %ul
        %li
          =link_to "FURIMAガイド","#" 
        %li
          =link_to "FURIMAロゴ利用ガイドライン","#"
        %li
          =link_to "お知らせ" ,"#" 
  .logo
    = link_to root_path do
      %img{src:'logo-white.png',height:"46",width:"160px"}
    %p © FURIMA
