.footer
  .footer__up
    .content
      .content__title
      .content__description
    .install
      .install__app
      .install__google

  .footer__down
    .footer__down--left
      .title
        .list
    .footer__down--center
      .title
        .list
    .footer__down--right
      .title
        .list
  .logo
    .logo--up
      .logo--up__icon
      .logo--up__name
    .logo--down