
.header{
  width:100%;
  height:120px;
  background-color: #666666;

  &__box{

  
    .header__box--up{


    

  
      .logo{
        .logo__image{

        }
      }
      .search{

        .search__text{

        }
        .search__button{

        }
      }
    }
    .header__box--down{
      .left{
        .left__category{

        }
        .left__brand{

        }
      }
      .right{
        .right__log-in{

        }
        .right__sign-up{

        }
      }
    }
  }
}