.header{
  height:100px;
  background-color: #fff;
  padding:0 120px;
  &__box{
    padding: 15px 0 0;
    &--up{
      display: flex;
      .logo{
        margin-right: 30px;
      }
      .search{
        display: flex;
        height: 36px;
        position: relative;
        &__form{
          width: 65vw;
          height: 40px;
          padding: 0 0 0 5px;
          border-radius: 5px;

        }
        &__button{
        background-color: #3ccace;
        border-radius: 2px;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 0px;
        background-image: image-url('icon-search1');
        background-size: 38px;
        cursor: pointer;
        }
      }
    }
    &--down{
      margin-bottom: 10px;
      display: flex;
      position: relative;
      font-size: 14px;
      a{
        text-decoration: none ;
        color: #333333;
        line-height: 32px;
      }
      .left{
        display: flex;
        position: absolute;
        left:0px;
        width: 150px;
        justify-content: space-between;
      }
      .right{
        margin: 0 0 0 320px;
        display: flex;
        position: absolute;
        right:0px;
        width: 150px;
        justify-content: space-between;
      }
    }
  }
}
.main{
  &__concept{
    height: 560px;
    background-image:image-url("bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    .content{
      &__title{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__text{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      .install{
        margin: 24px 0 0 0;
        a {
          text-decoration: none;
        }
      }
    }
  }
  &__reason{
    padding: 60px 20px;
    &__title{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      .underbar{
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__box{
      display: flex;
      text-align: center;
      justify-content: space-between;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      .content{
        width: 30%;
        &__image{
        width: 100%;
        vertical-align: bottom;
        position: relative;
        img {
          width: 100%;
        }
          &__number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0px;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 6px 18px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
        &__title{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span{
            color: #3CCACE;
          }
        }
        &__description{
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }
  &__pride{
    background-image:image-url("bg-topMiddleDl-pict.jpg");
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__box{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      .content{
        &__title{
          font-size: 27px;
          font-weight: bold;
          line-height: 1.4;
        }
        &__description{
          font-size: 18px;
          margin: 20px 0 30px;
          line-height: 1.5;
        }
      }
    }
  }
  &__feature{
    padding: 60px 100px;
    background-color: #fff;
    &__title{
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      .underbar{
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        }
    }
    &__box{
      display: inline-flex;
      justify-content: space-between;
      .content{
        display: flex;
        flex-direction: column;
        width: 32%;
        text-align: center;
        padding: 0 20px;
        &__image{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
        }
        &__title{
          margin: 10px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__description{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  .main__category{
    width:100%;
    height:506px;
    background-color: #f8f8f8;
    padding: 80px 0 0;
    &__head{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__title{
      text-align: center;
      font-size: 22px;
      line-height: 1.4;
      font-weight: bold;
      color:rgb(60, 202, 206);
    }
    &__box{
      display: flex;
      width: 780px;
      margin: 26px auto;
      justify-content: space-around;
      .product{
        width: 220px;
        display: inline-block;
        float: left;
        a{
          text-decoration: none;
        }
        &__image{
        background-color: #fff;
          .figure {
            width: 220px;
            height: 220px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
          }
        }
        .price{
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        &__content{
          background-color: white;
          color: #333;
          padding: 16px;
          .tax_in{
            font-size: 10px;
            text-align: left;
          }
        }
      }
    }
  }
}
.banner{
  background-image:image-url("bg-appBanner-pict.jpg");
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;;
  &__content{
    color:#fff;
    text-align: center;
    &__subtitle{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4
    }
    &__recommendation{
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
  }
  .install{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto 0;
  }
}
.footer{
  padding: 60px 0;
  background-color: #272727;
  text-align: center;
  justify-content: space-between;
  &__box{
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    color:#fff;
    a{
      text-decoration: none ;
      color:#fff;
      font-size: 12px;
    }
    &__content{
      width: 32%;
      &__title{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
  .logo{
    color:white;
    display: inline-block;
  }
}
.exhibition{
  width: 100px;
  height: 100px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__text{
    color: #fff;
    display: block;
    font-size: 17px;
    text-decoration: none;
    margin-bottom: 5px;
  }
}