.single-main {
  display: block;
  .login-single-container {
  width: 450px;
  margin: 0 auto;
  background: #fff;
    .login-single-head {
      padding: 40px 64px;
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
      font-weight: bold;
    }
      .btn-newsession {
        margin: 10px 0 0;
        background: #0099e8;
        border: 1px solid #0099e8;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 40px;
        font-size: 14px;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
        a{
          color:white;
          text-decoration: none;
        }
      }
        .login-single-inner {
          border-top: 1px solid #f5f5f5;
          width: 100%;
          }
          
    .login-single-content {
      padding: 5px 64px;
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
      font-weight: bold;
      .form-group{
        padding-top: 50px;
        .login-input-default {
          width: 90%;
          margin: 8px 0 0;
          height: 30px;
          padding: 10px 16px 8px; 
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1 ;
          font-size: 14px;
        }
        .btn-login {
          margin: 40px 0 0;
          background: #3ccACE;
          border: 1px solid #3ccACE;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 40px;
          font-size: 14px;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          a{
            color:white;
          }
        }
      }
    }
  }
}


