.single-container
  .single-header
    %h1
      .single-container__header-icon
        = link_to "#" do
          .single-container__header-icon-image
            = image_tag 'logo.png', size: '300x60'
  
  .single-main
    .buyconfirmation-container
      %h2.buyconfirmation-head
        購入内容の確認
      .content-item
        .buyform-group
          .item
            .item-image
            .item-detail
              %p.item-text
                ルイヴィトンのバッグ・コーチの財布・グッチのバッグ・エルメスのスカーフ・ナイキのスニーカー・アディダスのパーカー・プーマのトレーナー・アンダーアーマーのシャツ
              %p.item-pricefee
              %span.item-price
                ¥ 35,000
              %span.item-fee
                （税込）送料込み
      .content-payment
        .buyform-group
          .payment
            .payment__text
              支払い金額
            .payment__price
              ¥ 35,000
      .content-creditcard
        .buyform-group
          .paymentmethod
            クレジットカード情報
            .creditcard
              クレジットカードの情報だよ
              .br
              クレジットカードの情報の取り出し方によってクラスを追加する
      .content-shipping
        .buyform-group
          .shipping
            配送先
            .shipping-address
              住所だよ
      .content-buybtn
        .buyform-group
          .btn-buy
            .btn
              購入する
            .install-message
              アプリをお持ちでない方は以下よりインストールしてご利用いただけます。
            .appimage
              AppStoreとGooglePlayのアイコン
      
  .single-footer
    .navigation
      %ul.clearfix
        %li 
          %a{href: "#"} プライバシーポリシー
        %li 
          %a{href: "#"} フリマ利用規約
        %li 
          %a{href: "#"} 特定商取引に関する表記
      = link_to "#" do
        = image_tag 'logo.png', size: '300x60', class: "footer-logo"